
body{
    background-color:lightgray
}
h1{
    color:black ;
    text-align: center;
     text-decoration: underline ;
     font-weight: bolder;
}
h3{
    text-align: center;
    text-decoration:underline;
}
main{
    color: rgb(6, 81, 6);
    font-weight: bolder;
}
p{
    text-align: center;
}